<!--{% for i in a %}-->
<!--{{i}}-->

<!--{% endfor %}-->
<head>
  {% load static %}
  <link href="{% static 'css/b.css' %}" rel="stylesheet" type="text/css" media="all" />
  <link href="{% static 'css/newbootstrap.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'css/newstyle.css' %}" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="{% static 'css/newowl.theme.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/newowl.carousel.css' %}" type="text/css" media="screen" property="" />
    <link href="{% static 'css/newprettyPhoto.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/newminimal-slider.css' %}" type="text/css" media="all" />
    <link href="{% static 'css/newfontawesome-all.css' %}" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">


</head>
<body>

<ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'uindex' %}">Home</a>
        </li>
        <li class="breadcrumb-item active">
          <a href="">Goback</a></li>
    </ol>
{% for i in a %}
<section class="vh-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-10 col-lg-8 col-xl-6">
        <div class="card card-stepper" style="border-radius: 16px;">
          <div class="card-header p-4">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <p class="text-muted mb-2"> Order id : <span class="fw-bold text-body">{{i.id}}</span></p>
                <p class="text-muted mb-0"> order date : <span class="fw-bold text-body">{{i.dt}}</span> </p>
<!--                <p class="text-muted mb-0"> delevery address <span class="fw-bold text-body">{{i.address}}</span> </p>-->
              </div>
              <div>
                <h6 class="mb-0"> <a href="#">View Details</a> </h6>
              </div>
            </div>
          </div>
          <div class="card-body p-4">
            <div class="d-flex flex-row mb-4 pb-2">
              <div class="flex-fill">
                <h5 class="bold">{{i.pname}}</h5>
                <p class="text-muted"> Qt: {{i.quantity}} item</p>
                <h4 class="mb-3"> $ {{i.total}} <span class="small text-muted"> via (COD) </span></h4>
                <p class="text-muted">Tracking Status on: <span class="text-body">11:30pm, Today</span></p>
              </div>
              <div>
                <img class="align-self-center img-fluid"
                  src="{{i.file.url}}" width="250">
              </div>
            </div>
            <ul id="progressbar-1" class="mx-0 mt-0 mb-5 px-0 pt-0 pb-4">
              <li class="step0 active" id="step1"><span
                  style="margin-left: 22px; margin-top: 12px;">PLACED</span></li>
              <li class="step0 active text-center" id="step2"><span>SHIPPED</span></li>
              <li class="step0 text-muted text-end" id="step3"><span
                  style="margin-right: 22px;">DELIVERED</span></li>
            </ul>
          </div>
          <div class="card-footer p-4">
            <div class="d-flex justify-content-between">
              <h5 class="fw-normal mb-0"><a href="#!"></a></h5>
              <div class="border-start h-100"></div>
              <h5 class="fw-normal mb-0"><a href="../cancel/{{i.id}}">Cancel</a></h5>
              <div class="border-start h-100"></div>
              <h5 class="fw-normal mb-0"><a href="#!"></a></h5>
              <div class="border-start h-100"></div>
              <h5 class="fw-normal mb-0"><a href="#!" class="text-muted"><i class="fas fa-ellipsis-v"></i></a>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
{% endfor %}