
<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
	{% load static %}
<title>placeorder</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Grocery Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{% static 'css/pbootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/pstyle.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome icons -->
<link href="{% static 'css/pfont-awesome.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- //font-awesome icons -->

<link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

</head>
	
<body>

		<div class="privacy about">

			<h3>Place<span>Order</span></h3>
			
	      <div class="checkout-right">
<!--					<h4>Your shopping cart contains: <span>3 Products</span></h4>-->
				<table class="timetable_sub">
					<thead>
						<tr>
							<th>SL No.</th>	
							<th>Product</th>
<!--							<th>Quality</th>-->
							<th>Product Name</th>
						
							<th>Price</th>
<!--							<th>Remove</th>-->
						</tr>
					</thead>
					<tbody>
					{% for i in data %}
					<tr class="rem1">
						<td class="invert">1</td>
						<td class="invert-image"><a href=""><img src="{{i.file.url}}" alt=" " class="img-responsive"></a></td>
<!--						<td class="invert">-->
<!--							 <div class="quantity"> -->
<!--								<div class="quantity-select">                           -->
<!--									<div class="entry value-minus">&nbsp;</div>-->
<!--									<div class="entry value"><span>1</span></div>-->
<!--									<div class="entry value-plus active">&nbsp;</div>-->
<!--								</div>-->
<!--							</div>-->
<!--						</td>-->
						<td class="invert">{{i.pname}}</td>
						
						<td class="invert">Rs. {{i.pprice}}</td>
<!--						<td class="invert">-->
<!--							<div class="rem">-->
<!--								<div class="close1"> </div>-->
<!--							</div>-->

						</td>
					</tr>{% endfor %}
<!--					-->

				</tbody></table>
<!--			</div>-->
<!--			<div class="checkout-left">	-->
<!--				<div class="col-md-4 checkout-left-basket">-->
<!--					<h4>Continue to basket</h4>-->
<!--					<ul>{% for i in data %}-->
<!--						<li>{{i.pname}} <i>-</i> <span>Rs. {{i.pprice}} </span></li>-->
<!--&lt;!&ndash;						<li>Product2 <i>-</i> <span>$25.00 </span></li>&ndash;&gt;-->
<!--&lt;!&ndash;						<li>Product3 <i>-</i> <span>$29.00 </span></li>&ndash;&gt;-->
<!--						<li>Total Service Charges <i>-</i> <span>Rs.0</span></li>-->
<!--						<li>Total <i>-</i> <span>Rs. {{i.pprice}}</span></li>{% endfor %}-->
<!--					</ul>-->
<!--				</div>-->
<!--				<div class="col-md-8 address_form_agile">-->
<!--					<h4><u>Delivery Address</u></h4>-->

<!--				<form action="../placeorder/" method="POST" class="creditly-card-form agileinfo_form">-->
<!--					{% csrf_token %}-->
<!--									<section class="creditly-wrapper wthree, w3_agileits_wrapper">-->
<!--										<div class="information-wrapper">-->
<!--											<div class="first-row form-group">-->
<!--												<div class="controls">-->
<!--													<label class="control-label">Full name: </label>-->
<!--													<input class="billing-address-name form-control" type="text" name="dname" placeholder="Full name" required>-->
<!--												</div>-->
<!--												<div class="controls">-->
<!--													<label class="control-label">Quantity: </label>-->
<!--													<input class="billing-address-name form-control" type="number" name="qty" placeholder="qty" required>-->
<!--												</div>-->
<!--												<div class="w3_agileits_card_number_grids">-->
<!--													<div class="w3_agileits_card_number_grid_left">-->
<!--														<div class="controls">-->
<!--															<label class="control-label">Mobile number:</label>-->
<!--														    <input class="form-control" type="text" name="dnum" placeholder="Mobile number" required>-->
<!--														</div>-->
<!--													</div>-->
<!--													<div class="controls">-->
<!--													<label class="control-label">Email: </label>-->
<!--													<input class="billing-address-name form-control" type="email" name="dmail" placeholder="enter email" required>-->
<!--												</div>-->

<!--													<div class="controls">-->
<!--													<label class="control-label">Full Address: </label>-->
<!--													<input class="billing-address-name form-control" type="text" name="dadd" placeholder="Full address" required>-->
<!--												</div>-->

<!--													<div class="controls">-->
<!--													<label class="control-label">Pinode: </label>-->
<!--													<input class="billing-address-name form-control" type="text" name="dpin" placeholder="Pincode" required>-->
<!--												</div>-->


<!--													<div class="w3_agileits_card_number_grid_right">-->
<!--														<div class="controls">-->
<!--															<label class="control-label">Landmark: </label>-->
<!--														 <input class="form-control" type="text" name="dland" placeholder="Landmark" required>-->
<!--														</div>-->
<!--													</div>-->
<!--													<div class="clear"> </div>-->
<!--												</div>-->
<!--												<div class="controls">-->
<!--													<label class="control-label">Date: </label>-->
<!--													<input class="billing-address-name form-control" type="datetime-local" name="dt" placeholder="Full address" required>-->
<!--												</div>-->


<!--												<div class="controls">-->
<!--													<label class="control-label">Town/City: </label>-->
<!--												 <input class="form-control" type="text" name="dcity" placeholder="Town/City">-->
<!--&lt;!&ndash;												</div>&ndash;&gt;-->
<!--													<div class="controls">-->
<!--															<label class="control-label">Address type: </label>-->
<!--												     <select class="form-control option-w3ls" name="dtype" required>-->
<!--																							<option>Office</option>-->
<!--																							<option>Home</option>-->
<!--																							<option>Commercial</option>-->

<!--																					</select>-->
<!--													</div>-->
<!--&lt;!&ndash;												<h3>item details</h3>&ndash;&gt;-->
												{% for i in data %}
<!--													<div class="controls">-->
<!--													<label class="control-label">Item Name:</label>-->
<!--													<input class="billing-address-name form-control" type="text" value="{{i.pname}}" name="dpname"  readonly>-->
<!--												</div>-->

<!--													<div class="controls">-->
<!--													<label class="control-label">Item price:</label>-->
<!--													<input class="billing-address-name form-control" type="text" value="{{i.pprice}}" name="dprice"  readonly>-->
<!--												</div>-->
<!--												<div class="controls">-->
<!--													<label class="control-label">color:</label>-->
<!--													<input class="billing-address-name form-control" type="text" value="{{i.pcolor}}" name="dcolor"  readonly>-->
<!--												</div>-->

<!--												<div class="controls">-->
<!--													<label class="control-label">product id:</label>-->
<!--													<input class="billing-address-name form-control" type="text" value="{{i.pname}}" name="pname"  readonly>-->
<!--												</div>{% endfor %}-->
<!--&lt;!&ndash;												<div class="controls">{% for u in usr %}&ndash;&gt;-->
<!--&lt;!&ndash;													<label class="control-label">user mail:</label>&ndash;&gt;-->
<!--&lt;!&ndash;													<input class="billing-address-name form-control" type="email" value="{{u.umail}}" name="umail"  readonly>&ndash;&gt;-->
<!--&lt;!&ndash;												</div>{% endfor %}&ndash;&gt;-->


<!--											</div>-->
<!--											<button class="submit check_out">Delivery to this Address</button>-->
<!--										</div>-->
<!--									</section>-->









<!--									<div class="checkout-right-basket">-->
<!--				        	<a href="payment.html">Make  Payment <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>-->
<!--			      	</div>-->
<!--					</div>-->

<!--				<div class="clearfix"> </div>-->

<!--			</div>-->

<!--		</div>-->
<!--&lt;!&ndash; //about &ndash;&gt;-->
<!--		</div>-->
<!--		<div class="clearfix"></div>-->
<!--	</div>-->
<!--&lt;!&ndash; //banner &ndash;&gt;-->




<head>
  {% load static %}
  <link href="{% static 'css/d.css' %}" rel="stylesheet" type="text/css" media="all" />
  <link href="{% static 'css/newbootstrap.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'css/newstyle.css' %}" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="{% static 'css/newowl.theme.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/newowl.carousel.css' %}" type="text/css" media="screen" property="" />
    <link href="{% static 'css/newprettyPhoto.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/newminimal-slider.css' %}" type="text/css" media="all" />
    <link href="{% static 'css/newfontawesome-all.css' %}" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">


</head>


<div class="row mt-3 mx-3" style="margin-top:25px ;">
  <div class="col-md-3">
    <div style="margin-top: 50px; margin-left: 10px;" class="text-center">
<!--      <i id="animationDemo" data-mdb-animation="slide-right" data-mdb-toggle="animation"-->
<!--        data-mdb-animation-reset="true" data-mdb-animation-start="onScroll"-->
<!--        data-mdb-animation-on-scroll="repeat" class="fas fa-3x fa-shipping-fast text-white"></i>-->
<!--      <h3 class="mt-3 text-white">Welcome</h3>-->
<!--      <p class="white-text">You are 30 seconds away from compleating your order!</p>-->
    </div>
<!--    <div class="text-center">-->
<!--      <button type="submit" class="btn btn-white btn-rounded back-button">Go back</button>-->
<!--    </div>-->

      		<form action="" method="POST" class="creditly-card-form agileinfo_form">
					{% csrf_token %}

  </div>
  <div class="col-md-9 justify-content-center">
    <div class="card card-custom pb-4">
      <div class="card-body mt-0 mx-5">
        <div class="text-center mb-3 pb-2 mt-3">
          <h4 style="color: #495057 ;">Delivery Details</h4>
        </div>

        <form class="mb-0">

          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <input type="text"  id="form9Example1" name="dname" class="form-control input-custom" required />
                <label class="form-label" for="form9Example1">First name</label>
              </div>
            </div>
               <div class="col">
              <div class="form-outline">
                <input type="number" id="form9Example4" name="qty" class="form-control input-custom" required />
                <label class="form-label" for="form9Example4">Quantity</label>
              </div>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <input type="text" id="form9Example3"  name="dadd" class="form-control input-custom" required/>
                <label class="form-label" for="form9Example3">Address</label>
              </div>
            </div>
              <div class="col">
              <div class="form-outline">
                <input type="text" id="typeEmail"  name="lmark" class="form-control input-custom" required />
                <label class="form-label" for="typeEmail">Landmark</label>
              </div>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <input type="text" id="form9Example6" name="dnum" class="form-control input-custom" required />
                <label class="form-label" for="form9Example6">Number</label>
              </div>
            </div>

                <div class="col">
              <div class="form-outline">
<!--                <input type="text" id="form9Example4" name="qty" class="form-control input-custom" required />-->
                   <select class="form-control option-w3ls" name="dtype" required>
																							<option>Office</option>
																							<option>Home</option>
																							<option>Commercial</option>

																					</select>
                <label class="form-label" for="form9Example4">Addres_type</label>
              </div>
            </div>
          </div>



            <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <input type="number" id="form9Example6" name="dpin" class="form-control input-custom" required />
                <label class="form-label" for="form9Example6">Pincode</label>
              </div>
            </div>
                 <div class="col">
              <div class="form-outline">{% if current_user %}
                <input type="email" id="typeEmail"  name="dmail"  value="{{current_user}}" hidden class="form-control input-custom" required />
<!--                <label class="form-label" for="typeEmail"> Reg_Email</label>{% endif %}-->
              </div>
            </div>
          </div>

            <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <input type="datetime-local" id="form9Example6" name="dt"  class="form-control input-custom" required />
                <label class="form-label" for="form9Example6">Date</label>
              </div>
            </div>
             <div class="col">
              <div class="form-outline">{% for i in data %}
                <input type="text" id="form9Example2" value="{{i.id}}" hidden name="pname" class="form-control input-custom" readonly />{% endfor %}
                <label class="form-label" for="form9Example2"></label>
              </div>
            </div>
          </div>

          <div class="float-end ">
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-rounded"
              style="background-color: #0062CC ;">Place order</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
          </div></div></body></html>





















<!--			 </div>-->

<!--		</div>-->
<!-- //payment -->

<!-- js -->
<script src="{% static 'js/pjquery-1.11.1.min.js' %}"></script>
<!-- easy-responsive-tabs -->
<link rel="stylesheet" type="text/css" href="{% static 'css/peasy-responsive-tabs.css' %} " />
<script src="{% static 'js/peasyResponsiveTabs.js' %}"></script>
<!-- //easy-responsive-tabs -->
	<script type="text/javascript">
    $(document).ready(function() {
        //Horizontal Tab
        $('#parentHorizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            tabidentify: 'hor_1', // The tab groups identifier
            activate: function(event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#nested-tabInfo');
                var $name = $('span', $info);
                $name.text($tab.text());
                $info.show();
            }
        });
    });
</script>
<!-- credit-card -->
		<script type="text/javascript" src="js/creditly.js"></script>
        <link rel="stylesheet" href="{% static 'css/pcreditly.css' %}" type="text/css" media="all" />

		<script type="text/javascript">
			$(function() {
			  var creditly = Creditly.initialize(
				  '.creditly-wrapper .expiration-month-and-year',
				  '.creditly-wrapper .credit-card-number',
				  '.creditly-wrapper .security-code',
				  '.creditly-wrapper .card-type');

			  $(".creditly-card-form .submit").click(function(e) {
				e.preventDefault();
				var output = creditly.validate();
				if (output) {
				  // Your validated credit card output
				  console.log(output);
				}
			  });
			});
		</script>
	<!-- //credit-card -->












<!-- newsletter -->

<!-- //footer -->
<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script>
							 <!--quantity-->
									<script>
									$('.value-plus').on('click', function(){
										var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10)+1;
										divUpd.text(newVal);
									});

									$('.value-minus').on('click', function(){
										var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10)-1;
										if(newVal>=1) divUpd.text(newVal);
									});
									</script>
								<!--quantity-->
							<script>$(document).ready(function(c) {
								$('.close1').on('click', function(c){
									$('.rem1').fadeOut('slow', function(c){
										$('.rem1').remove();
									});
									});	  
								});
						   </script>
							<script>$(document).ready(function(c) {
								$('.close2').on('click', function(c){
									$('.rem2').fadeOut('slow', function(c){
										$('.rem2').remove();
									});
									});	  
								});
						   </script>
						  	<script>$(document).ready(function(c) {
								$('.close3').on('click', function(c){
									$('.rem3').fadeOut('slow', function(c){
										$('.rem3').remove();
									});
									});	  
								});
						   </script>

<!-- //js -->
<!-- script-for sticky-nav -->
	<script>
	$(document).ready(function() {
		 var navoffeset=$(".agileits_header").offset().top;
		 $(window).scroll(function(){
			var scrollpos=$(window).scrollTop(); 
			if(scrollpos >=navoffeset){
				$(".agileits_header").addClass("fixed");
			}else{
				$(".agileits_header").removeClass("fixed");
			}
		 });
		 
	});
	</script>
<!-- //script-for sticky-nav -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
    $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');        
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');       
        }
    );
});
</script>
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
<script src="js/minicart.js"></script>
<script>
		paypal.minicart.render();

		paypal.minicart.cart.on('checkout', function (evt) {
			var items = this.items(),
				len = items.length,
				total = 0,
				i;

			// Count the number of each item in the cart
			for (i = 0; i < len; i++) {
				total += items[i].get('quantity');
			}

			if (total < 3) {
				alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
				evt.preventDefault();
			}
		});

	</script>
</body>
</html>