
<!DOCTYPE html>
<html>
<head>
	{% load static %}
<title>sign up</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Flaty User login Form template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="{% static 'css/newstylelog.css' %}" rel="stylesheet" type="text/css" />
<!-- //Custom Theme files -->
<!-- js -->
<script src="{% static 'js/jquerylog.min.js' %}" > </script>
<!-- //js -->
<!-- web font -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'><!--web font-->
<!-- //web font -->

</head>
<body>
	<!-- main -->

	<div class="main-agileits">
		<h1 >Sign Up</h1>
		<div class="mainw3-agileinfo form">
			<div id="login">
				<form action="#" method="POST">
					{% csrf_token %}

					<div class="field-wrap">
						<label> Enter Your Name<span class="req">*</span> </label>
						<input type="text"required autocomplete="off" name="uname"/>
					</div>
					<div class="field-wrap">
						<label> Enter Your Age<span class="req">*</span> </label>
						<input type="number"required autocomplete="off" name="uage"/>
					</div>
					<div class="field-wrap">
						<label> Phone<span class="req">*</span> </label>
						<input type="number"required autocomplete="off" name="uphone"/>
					</div>
					<div class="field-wrap">
						<label> Enter Your Email<span class="req">*</span> </label>
						<input type="email"required autocomplete="off" name="umail"/>
					</div>
					<div class="field-wrap">
						<label> Password<span class="req">*</span> </label>
						<input type="password"required autocomplete="off" name="upsw"/>
					</div>
					<button class="button button-block"/> Sign Up </button>
				</form>
			</div>

		</div>
	</div>
	<!-- //main -->
	<!-- copyright -->

	<!-- //copyright -->
	<script>
	$('.form').find('input, textarea').on('keyup blur focus', function (e) {
	  var $this = $(this),
		  label = $this.prev('label');

		  if (e.type === 'keyup') {
				if ($this.val() === '') {
			  label.removeClass('active highlight');
			} else {
			  label.addClass('active highlight');
			}
		} else if (e.type === 'blur') {
			if( $this.val() === '' ) {
				label.removeClass('active highlight');
				} else {
				label.removeClass('highlight');
				}
		} else if (e.type === 'focus') {

		  if( $this.val() === '' ) {
				label.removeClass('highlight');
				}
		  else if( $this.val() !== '' ) {
				label.addClass('highlight');
				}
		}

	});
	</script>
</body>
</html>